<div class="container">

		<div class="jumbotron text-center" ng-show="!error || !message">
			<h2>Round </h2>{{round.numberRound}}
            <h2>Player </h2>{{round.numberPlayer}}
            <h2> Name </h2>{{round.namePlayer}}
		</div>
    
        <div class="jumbotron text-center" ng-show="message">
			<h1>{{message}}</h1>
		</div>
    
        <div class="jumbotron text-center" ng-show="error">
			<h1>Error: </h1>{{error}}
		</div>

		<!-- TODO LIST -->
		<div id="todo-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">

				<p class="text-center" ng-show="loading">
					<span class="fa fa-spinner fa-spin fa-3x"></span>
				</p>

			</div>
		</div>

		<div id="todo-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form name="roundGameForm">
                    
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label"><span class="text-danger">* </span> <span class="bold" for="field_providers">Select move: </span></label>
                            <select class="form-control" name="selectMove" id="selectMove" ng-model="gameDrones.selectMove" 
                                    ng-change="selectMoveType(gameDrones.selectMove)" required>
                                <option value="">---Please select---</option>
                                <option value="paper">Paper</option>
                                <option value="rock">Rock</option>
                                <option value="scissors">Scissors</option>
                            </select>
                        </div>
                    </div>

					<button type="submit" class="btn btn-primary btn-lg" ng-disabled="roundGameForm.$invalid" 
                            ng-click="playMove()">Ok</button>
				</form>
			</div>
		</div>

	</div>
